<%- include('header', { tabCls: '36kr' }); %>
<ul class="list">
  <% data.forEach(function(repo, idx){ %>
  <li>
    <div class="info">
      <div class="rank">
        <span title="Ranking <%=idx + 1%>"><%=idx + 1%></span>
        <a href="<%=repo.news_url%>" target="_blank" title="<%=repo.title%>"><%=repo.title%></a>
      </div>
      <div class="details">
        <%=repo.description%>
      </div>
    </div>
  </li>
  <% }); %>
</ul>
<%- include('footer', { }); %>
