<%- include('header', { tabCls: 'users' }); %>
<div class="userlist">
<span class="select">
  <a class="<%= type === 'global' ? 'active': '' %>" href="index.html">Global</a>
  <a class="<%= type === 'china' ? 'active': '' %>" href="users.china.html">China</a>
</span>
<table>
  <thead>
    <tr>
      <th title="avatar">ava</th>
      <th>login</th>
      <th>location</th>
      <th>company</th>
      <th>followers</th>
      <th>following</th>
      <th>repos</th>
      <th>created at</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user, idx) {%>
    <tr>
      <td>
        <a href="<%=user.html_url%>" target="_blank">
          <img src="<%=user.avatar_url%>&s=60" width="30" height="30" loading="lazy" title="<%=user.name || user.login%>" alt="<%=user.name || user.login%>" />
        </a>
      </td>
      <td>
        <b><%=idx + 1%></b>
        <a href="<%=user.html_url%>" target="_blank"><%=user.name || user.login%></a>
        <span><%=user.login%></span>
      </td>
      <td><%=user.location%></td>
      <td><%=user.company%></td>
      <td>
        <a href="<%=user.html_url%>?tab=followers" target="_blank">
          <%=user.followers%>
        </a>
      </td>
      <td>
        <a href="<%=user.html_url%>?tab=following" target="_blank">
          <%=user.following%>
        </a>
      </td>
      <td>
        <a href="<%=user.html_url%>?tab=repositories" target="_blank">
          <%=user.public_repos%>
        </a>
      </td>
      <td>
        <%=user.created_at ? `${new Date(user.created_at).getFullYear()}/${new Date(user.created_at).getMonth() + 1}/${new Date(user.created_at).getDate()}` : '' %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
</div>
<%- include('footer', { }); %>