<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="https://github.githubassets.com/favicon.ico">
  <title> <%= title %> </title>
  <meta name="description" content="<%= title %>">
  <style>
    [data-color-mode*='dark'] {
      --color-fg-default: #c9d1d9;
      --color-fg-muted: #8b949e;
      --color-fg-subtle: #484f58;
      --color-accent-fg: #58a6ff;
      --color-accent-emphasis: #1f6feb;
      --color-link-hover: #58a6ff;
      --color-tab-fg: #494949;
      --color-border: #e2e2e2;
      --color-neutral-muted: rgba(110,118,129,0.4);
    }
    [data-color-mode*='light'] {
      --color-fg-default: #24292f;
      --color-fg-muted: #57606a;
      --color-fg-subtle: #6e7781;
      --color-accent-fg: #0969da;
      --color-accent-emphasis: #0969da;
      --color-link-hover: #58a6ff;
      --color-tab-fg: #e2e2e2;
      --color-border: #000;
      --color-neutral-muted: rgba(175,184,193,0.2);
    }
  </style>
  <style>
    * { box-sizing: border-box; }
    html, body, ul, li, h1 { margin: 0; padding: 0 }
    html, body { font-size: 16px; font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif; }
    ul { list-style: none; }

    a { color: var(--color-accent-fg); text-decoration: none; transition: all .2s ease-in; }
    a:hover { color: var(--color-link-hover); text-decoration: underline; }
    a.github-corner:hover .octo-arm { animation: octocat-wave 560ms infinite linear; }
    a.github-corner svg { fill: #f1f1f1; color: #000; position: absolute; top: 0; border: 0; right: 0; z-index: 99; width: 70px; height: 70px; }
    a.github-corner { position: fixed; z-index: 9999; top: 0; right: 0; }

    .title { padding: 32px 20px 10px 20px; font-size: 32px; display: flex; }
    .title a svg { display: block; }
    .title a { color: var(--color-accent-fg); display: inline-block; margin-left: 10px; }
    .title dark-mode {
      margin-right: 8px;
    }
    .time, .footer { padding: 5px 20px 2px 20px; font-size: 12px; color: #adadad; }
    .tabs { padding: 0 20px 5px 20px;}
    .tabs a { background: var(--color-tab-fg); display: inline-block; border-radius: 2px; margin: 2px 0; padding: 2px 5px; font-size: 12px; line-height: 16px; color: var(--color-accent-fg); }
    .tabs a.active { background: #333; color: #efefef; }
    .tabs a:hover:not(.active) { background: #efefef; }
    .footer { padding: 0 20px 30px 20px; font-size: 12px; color: #adadad; }
    .footer .time { padding: 0; }
    .list { text-align: left; padding-bottom: 10px; margin: 0 15px; }
    .list img { width: 36px; height: 36px; border-radius: 3px; display: block; margin: 0 auto; background-color: #e2e2e2; border: 0; overflow: hidden; }
    .list li { padding: 10px; transition: all .3s; }
    .list li.rank-title { margin: 0; padding: 3px 0 0 7px; margin-bottom: 10px; border-radius: 5px; font-size: 12px; line-height: 16px; }
    .list li.rank-title > a { margin-right: 10px; }
    .list li.rank-title:hover { background: transparent; }
    .list li:last-child, .list li.rank-title { border-bottom: 0; }
    .list li:hover { background: var(--color-neutral-muted); }
    .list li > div { display: table-cell; vertical-align: top; font-size: 14px; }
    .list li div.rank span { font-weight: bold; }
    .list li div.details { padding: 2px 0 0 0; font-size: 12px; float: left; color: var(--color-fg-muted); }
    .list li div.details a { color: #b9b9b9; transition: all .3s; }
    .list li div.details a:hover { color: #1600ff; }
    .list li div.details a:hover svg { fill: #1600ff; }
    .list li div.details * { vertical-align: middle; }
    .list li div.details .localtion { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 150px; display: inline-block; height: 14px; }
    .list li div.details svg { width: 12px; height: 12px; margin-top: 0; margin-right: 2px; fill: #b9b9b9; display: inline-block; }
    .list li > div.info { width: 100%; }
    .list li > div.info i { color: #717171; }
    .list li > div.info a:hover i { color: #333; }
    .list li div.sub-title { color: var(--color-theme-text); margin: 4px 0 0 0; }
    .list li div.avatar { padding-right: 10px; }
    @keyframes octocat-wave {
      0%,100%{-webkit-transform:rotate(0); transform:rotate(0);}
      20%,60%{-webkit-transform:rotate(-25deg); transform:rotate(-25deg);}
      40%,80%{-webkit-transform:rotate(10deg); transform:rotate(10deg);}
    }
    @media screen and (max-width: 479px) {
      .title { padding-top: 16px; font-size: 21px; }
    }
  </style>
  <% if (/(repos|trending)/.test(tabCls)) { %>
  <style>
    .list li a.language,
    .list li span.star { height: 18px; background: var(--color-neutral-muted); display: inline-block; padding: 2px 4px; border-radius: 3px; }
  </style>
  <% } %>
  <% if (/(users|trending)/.test(tabCls)) { %>
  <style>
    .list .select .active { color: var(--color-theme-text); font-weight: bold; border-bottom: 1px dotted var(--color-border);}
  </style>
  <% } %>
  <% if (/(users|repos|trending)/.test(tabCls)) { %>
  <style>
    .list li div.followers { font-size: 12px; color: var(--color-fg-muted); white-space:nowrap; padding-top: 2px; border-radius: 3px; }
    .list li div.followers a { color: var(--color-fg-muted); }
    .list li div.followers * { vertical-align: middle; }
    .list li div.followers svg { vertical-align: text-top; display: inline-block; fill: #9E9E9E; width: 14px; height: 14px; }
  </style>
  <% } %>
  <% if (tabCls === 'repos') { %>
  <style>
    .list.repos.trending .language > span { border-radius: 50%; display: inline-block; position: relative; height: 10px; width: 10px; vertical-align: middle; top: -1px; margin-right: 4px; }
    .list.repos li div.followers { display: inline-block; padding-right: 5px; }
    .list.repos li div.details { width: 100%; }
  </style>
  <% } %>
  <% if (tabCls === 'users') { %>
  <style>
    .td-unknow{
      color:#999;
    }
    .list li.death > div { opacity: 1; filter: grayscale(100%); }
    .userlist {
      font-size: 14px;
      padding: 10px 20px 5px 20px;
    }
    .userlist .select {
      padding-left: 6px;
      padding-bottom: 5px;
      display: block;
    }
    .userlist .select .active { color: var(--color-theme-text); font-weight: bold; border-bottom: 1px dotted var(--color-border);}
    .userlist thead {
      position:sticky;
      top: 0;
    }
    .userlist thead th {
      background-color: var(--color-tab-fg);
      text-align: left;
      padding: 3px 8px;
      line-height: 20px;
      white-space: pre;
    }
    .userlist tbody tr:hover {
      background-color: var(--color-neutral-muted);
    }
    .userlist tbody tr td img {
      display: block;
      background-color: var(--color-neutral-muted);
      border-radius: 6px;
    }
    .userlist tbody tr td {
      padding: 5px;
      line-height: 14px;
    }
    .userlist tbody tr td:nth-child(2) span {
      display: block;
      color: var(--color-fg-subtle);
    }
    .userlist tbody tr td:first-child {
      text-align: center;
      font-weight: bold;
    }
    .userlist tbody tr td svg {
      display: inline-flex;
      top: 1px;
      position: relative;
      color: var(--color-accent-emphasis);
    }
    .userlist tbody tr td svg:hover {
      color:  var(--color-accent-emphasis);
      animation: blink 0.5s infinite;
    }
    @keyframes blink {
      0% { opacity: 1; }
      25% { opacity: 0; }
      50% { opacity: 1; }
      75% { opacity: 0; }
      100% { opacity: 1; }
    }

    @media only screen and (max-width: 768px) {
      .userlist table :is(td:nth-child(3), td:nth-child(4), th:nth-child(3), th:nth-child(4)) {
        display: none;
      }
    }
  </style>
  <% } %>
  <script src="https://unpkg.com/@wcj/dark-mode"></script>
</head>
<body>
  <a href="https://github.com/jaywcjlove/github-rank" target="_blank" class="github-corner">
    <svg viewBox="0 0 250 250">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path class="octo-arm" fill="currentColor" style="transform-origin: 130px 106px;" d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"></path>
      <path fill="currentColor" class="octo-body" d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"></path>
    </svg>
  </a>
  <h1 class="title">
    <dark-mode permanent></dark-mode>
    <%= title %>
    <% if (tabCls === 'users') { %>
    <a target="_blank" href="<%= type === 'global' ? 'https://github.com/search?q=followers%3A%3E1000&type=Users' : 'https://github.com/search?q=location%3AChina+followers%3A%3E1000&type=Users' %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" fill="currentColor" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>
    </a>
    <% } %>
    <% if (tabCls === 'repos') { %>
    <a href="https://github.com/search?q=stars%3A%3E8000&type=Repositories">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" fill="currentColor" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>
    </a>
    <% } %>
    <% if (tabCls === 'trending') { %>
    <a target="_blank" href="https://github.com/trending">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" fill="currentColor" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>
    </a>
    <% } %>
  </h1>
  <div class="time">Last cache created on <%=`${new Date().getFullYear()}/${(new Date().getMonth()) + 1}/${new Date().getDate()}`%> by 
    <% if (tabCls === 'users') { %>
      <% if (type === 'global') { %>
        <a href="https://github.com/search?q=followers%3A%3E1000&type=Users">Github API v3</a>.
      <% } %>
      <% if (type === 'org') { %>
        <a href="https://github.com/search?q=location%3AChina+followers%3A%3E1000&type=Organization">Github API v3</a>.
      <% } %>
      <% if (type === 'china') { %>
        <a href="https://github.com/search?q=location%3AChina+followers%3A%3E1000&type=Users">Github API v3</a>.
      <% } %>
    <% } %>
    <% if (tabCls === 'repos') { %>
      <a href="https://github.com/search?q=stars%3A%3E8000&type=Repositories">Github API v3</a>.
    <% } %>
    <% if (tabCls === 'trending') { %>
      <a href="https://github.com/trending">Github Trending</a>.
    <% } %> Create by <a href="https://jaywcjlove.github.io/#/sponsor" target="_blank">小弟调调™</a>.
  </div>
  <div class="tabs">
    <a class="<%= tabCls === 'users' ? 'active': '' %>" href="index.html">Users</a>
    <a class="<%= tabCls === 'repos' ? 'active': '' %>" href="repos.html">Repos</a>
    <a class="<%= tabCls === 'trending' ? 'active': '' %>" href="trending.html">Trending</a>
  </div>