<tr title="<%=user.bio%>">
  <td>
    <a href="<%=user.html_url%>" target="_blank">
      <img src="<%=user.avatar_url%>&s=60" width="30" height="30" loading="lazy" title="<%=user.name || user.login%>" alt="<%=user.name || user.login%>" />
    </a>
  </td>
  <td>
    <div>
      <b><%=idx + 1%></b>
      <a href="<%=user.html_url%>" target="_blank"><%=user.name || user.login%></a>
      <% if (user.twitter_username) { %>
      <a target="_blank" href="https://twitter.com/<%=user.twitter_username%>">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 16 16">
          <path fill="currentColor" d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07l-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
        </svg>
      </a>
      <% } %>
      <% if (user.blog) { %>
      <a target="_blank" href="<%=user.blog%>">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 20 20"><path fill="currentColor" d="M10 20a10 10 0 1 1 0-20a10 10 0 0 1 0 20m7.75-8a8.01 8.01 0 0 0 0-4h-3.82a28.81 28.81 0 0 1 0 4zm-.82 2h-3.22a14.44 14.44 0 0 1-.95 3.51A8.03 8.03 0 0 0 16.93 14m-8.85-2h3.84a24.61 24.61 0 0 0 0-4H8.08a24.61 24.61 0 0 0 0 4m.25 2c.41 2.4 1.13 4 1.67 4s1.26-1.6 1.67-4zm-6.08-2h3.82a28.81 28.81 0 0 1 0-4H2.25a8.01 8.01 0 0 0 0 4m.82 2a8.03 8.03 0 0 0 4.17 3.51c-.42-.96-.74-2.16-.95-3.51zm13.86-8a8.03 8.03 0 0 0-4.17-3.51c.42.96.74 2.16.95 3.51zm-8.6 0h3.34c-.41-2.4-1.13-4-1.67-4S8.74 3.6 8.33 6M3.07 6h3.22c.2-1.35.53-2.55.95-3.51A8.03 8.03 0 0 0 3.07 6"/></svg>
      </a>
      <% } %>
    </div>
    <span><%=user.login%></span>
  </td>

  <% if(user.location) { %>
  <td><%=user.location%></td>
  <% } %>

  <% if(!user.location) { %>
  <td class="td-unknow">Unknow</td>
  <% } %>

  <% if(user.company) { %>
  <td><%=user.company%></td>
  <% } %>
  
  <% if(!user.company) { %>
  <td class="td-unknow">Unknow</td>
  <% } %>
  
  <td>
    <a href="<%=user.html_url%>?tab=followers" target="_blank">
      <%=user.followers/1000%>k
    </a>
  </td>
  <td>
    <a href="<%=user.html_url%>?tab=following" target="_blank">
      <%=user.following%>
    </a>
  </td>
  <td>
    <a href="<%=user.html_url%>?tab=repositories" target="_blank">
      <%=user.public_repos%>
    </a>
  </td>
  <td>
    <%=user.created_at ? `${new Date(user.created_at).getFullYear()}/${new Date(user.created_at).getMonth() + 1}/${new Date(user.created_at).getDate()}` : '' %>
  </td>
</tr>